<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header }}

    {{!-- screamId is the helper name --}}
    {{!-- welcomeMsg is the first param into that helper --}}
    <p>{{screamIt welcomeMsg}}</p>


    {{> footer}}

</body>
</html>